body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: white;
}

h1 {
    text-align: center;
}


form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}

#senhaRequisitos {
    font-size: 0.9em;
    color: gray;
}
